@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lexend+Deca:wght@200;300;400;500;600;700&family=Oswald:wght@300;400;500;600;700&display=swap');

:root {

}

@media (prefers-color-scheme: dark) {
  :root {

  }
}

.MuiPagination-ul{
         justify-content: center;
}
@layer components{
  .containerPage{
    @apply max-w-[1440px] mx-auto;
  }
  .button{
    @apply py-2 px-3 rounded-3xl bg-surface-1 text-[#222226] text-xs;
  }
  .button-active{
    @apply py-2 px-3 rounded-3xl bg-surface-1 text-[#222226] text-xs border-[#374df5] border-[1px] border-solid;
  }
  .bg1{
    @apply bg-[#222226] bg-opacity-[0.4];
  }
  .button-check{
    @apply bg-[#a4a9b3] py-[2px] px-2 mt-3 rounded-lg text-xs;
  }
  .buttonTab{
    @apply text-xsm text-[#374df5] px-2 py-1;
  }
  .buttonTab-active{
    @apply bg-[#374DF526] text-xsm text-[#374df5] px-2 py-[2px] rounded-lg;
  }
  .truncate {
    @apply overflow-hidden text-ellipsis whitespace-nowrap;
  }
  
  

}
.customizeArrow{
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23131313%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%;
  background-size: 0.65rem auto;
}